.prop_description p{
    max-width: 750px;
}

.prop_info_container{

    display: grid;
    grid-template-columns: 1fr .4fr;
    column-gap: 3rem;
    margin: 3rem 0rem;

}

.prop_info h2{
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.prop_info h3{
    margin-bottom: .5rem;
}

.prop_info_header{
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
}

.prop_info_header figure{
    background: var(--light-silver);
    border-radius: 10px;
}

.prop_info_header .mini-map{
    max-width: 400px;
    width: 100%;
    border: 1px solid var(--light-silver);
    border-radius: var(--borderRadius);
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto;
    box-shadow: var(--lightShadow);
}

.prop_info_header .mini-map figure{
    overflow: hidden;
    border-radius: var(--borderRadius);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.prop_info_header .mini-map figure img{
    width: 100%;
    height: 100%;
}

.commute{
    display: flex;
    padding: 1rem;
    background: white;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    /* background: var(--lightSilver); */
    border-bottom-left-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
}

.commute h3{
    margin: 0;
    padding-left: 1rem;
    margin-right: .5rem;
    border-right: 1px solid var(--light-silver);
    padding-right: 1rem;
}

.commute i{
    font-size: 1.2rem;
    /* padding-right: 1rem; */
    
}

.commute p{
    text-decoration: underline;
    font-weight: 600;
    padding-left: 1rem;
    color: var(--secondary-color);
    margin-bottom: 0rem;
}

.prop_header_details{
    display: flex;
    flex-flow: column;
    gap: .4rem;
}

.prop_header_details h2{
    padding: 0;
    margin: 0;
    background: white;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.prop_status{
    display: flex;
    gap: .6rem;
    color: var(--alt-text-color);
    margin-bottom: .7rem;
    align-items: center;
}

.prop_status_marker{
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    position: relative;
    border-radius: 5px;
}


.prop_header_details h3{
    margin: 0;
    font-size: 1.8rem;
    font-weight: 700;
}

.prop_header_details h3 span{
    color: var(--secondary-color);
    font-size: 1rem;
    margin-left: .6rem;
    font-weight: 500;
}

.prop_header_details h4{
    margin: 0;
    font-weight: 500;
    color: var(--alt-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}

.prop_header_details h4 span{
    font-weight: 600;
    color: var(--dark-text-color);
}


.prop_info_list{
    display: flex;
    flex-wrap: wrap;
    margin-top: .6rem;
}

.prop_info_list i{
    color: var(--alt-text-color);
    background: var(--lightSilver) !important;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .6rem;
    margin-right: .4rem;
    border: 1px solid var(--light-silver);
}

.prop_info_list li{
    display: flex;
    text-align: center;
    padding: 0rem 1rem;
      padding-left: 1rem;
    border-right: 1px dotted #082b59;
    justify-content: center;
    align-content: center;
}

.prop_info_list li:nth-child(1){
    padding-left: 0;
}

.prop_info_list li:nth-last-child(1){
    padding-right: 0;
    border-right: none;
}



.prop_info_list h3{
    font-weight: 500;
}

.prop_info_list p{
    font-weight: 600;
    
}

.status-container{
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
}
.prop_details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 3rem;
}

/* .prop_details h3, .prop_details p{
    display: inline;
} */

.status-type{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: .6rem 1rem;
    font-size: .8rem;
    border-radius: 100px;
}

.prop_details .expand-btn{
    padding: 0rem 1rem;
}
.button_container{
    display: flex;
    gap: 1.5rem;
}
.offer_button{
    margin-top: 1.3rem;
    /* height: 50px; */
    max-width: max-content;
}


.school_option{
  width: max-content;
  text-align: left;
  width: 100%;
  /* min-width: 600px; */
}

.school_option tr:nth-child(1){
    border-bottom: 1px solid black;
    padding: 1rem;
}

.school_option tr th{
    padding: 1rem 0rem;
    font-weight: 600;
}

.school_option tr td{
    border-bottom: 1px solid var(--light-silver);
    padding: 1rem 0rem;
    color: var(--alt-text-color);
}

.school_option tr b{
    font-weight: 600;
    color: var(--alt-text-color);
}

.property_history_container{
    margin-top: 1rem;

}

.property_history{
    padding-left: 2rem;
    padding-bottom: 2rem;
    position: relative;
    margin-left: .4rem;
}

.property_history::before{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: -6px;
    top: 0;
    background-color: #cfd9e6;
}

.property_history::after{
    content: "";
    position: absolute;
    height: 90%;
    width: 1px;
    background-color: #cfd9e6;
    left: 0;
    bottom: 0;



}

.property_history ul{

    margin-left: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    max-width: 600px;

}

.property_history ul li h4{

    font-weight: 500;

}

.table_style table th, .table_style table td{
    padding-right: 1rem;
  }


