.ripple-container {
    position: relative;
  }
  
  .ripple-button {
    overflow: hidden;
    position: relative;
  }
  
  .ripple-effect {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.521);
    animation: ripple-animation 0.4s linear;
    pointer-events: none;
    z-index: 5;
    width: 1px;
    height: 1px;
  }
  
  @keyframes ripple-animation {
    to {
      transform: scale(160);
      opacity: 0;
    }
  }
  