
.agent_info h2{

    margin-bottom: 2rem !important;
}
.personal_info{
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content max-content;
    column-gap: 2rem;
    row-gap: 1rem;
    margin-bottom: 1.4rem;

}

.agent-head-shot{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: var(--light-color);
    margin: auto;
    overflow: hidden;
    grid-row: 1 / 4;
}

.agent-head-shot img{
    width: 100%;
}

.contact-info{
    display: flex;
    gap: .5rem;
}

.contact-info li{
    background: #92a6bf17;
    padding: .6rem 1rem;
    border-radius: 10px;
    background: #92a6bf17;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.contact-info li i{
    font-size: 1rem;
    color: var(--alt-text-color);
}

.contact-info li p{
    font-size: .8rem;
}

.personal_info h4{
    font-size: 1.4rem;
    display: block;
    color: var(--secondary-color);
}

.personal_info h5{
    font-size: 1rem;
}

.agent_info{

}
.agent form{
    /* margin: 2rem 0rem; */
    min-width: 100%;
    display: flex;
    flex-flow: column;
}

.agent form h2{
    margin-bottom: 1rem;
}

.agent form fieldset{
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.agent form fieldset input{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #586b8459;
    padding-left: .5rem;
}

.agent form fieldset textarea{
    width: 100%;
    height: 175px;
    border-radius: 10px;
    border: 1px solid #586b8459;
    padding: .5rem;
}

.agent form button{
    width: max-content !important;
}


.agent ul li{
    margin-bottom: 1.5rem;
}

.prop_info{
    display: flex;
    flex-flow: column; 
    gap: 3rem;
}

.agent ul li p{
    margin-bottom: .5rem;
}

.btn-container{

}