.listing-result{
    display: grid;
    grid-template-columns: 2fr 1fr;
    

}

.search-result{
    position: relative;
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    justify-content: center;
}

.search-result .search-header{
    grid-column: 1 / 3;
}

.search-result .search-header h1,.search-result .search-header h1 span{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: .5rem;
    margin-top: 1rem;
}