.listing-result{
    display: grid;
    grid-template-columns: 1fr 1fr;
    

}

.search-result{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    max-height: 85vh;
    padding: 1rem;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 10px;
}