/* =========================================================== */
/* SEARCH FILTER */
/* =========================================================== */

.more-filter{
    position: relative;
    padding-right: 1.5rem;
    
}

.search-filter{
    box-shadow: none !important;
    padding: 0rem 1.1rem;
    width: 400px;
}

.search-filter label{
    display: block;
    margin-bottom: .7rem;
}

.search-filter h3{
    position: relative;
    background: white;
    color: var(--dark-color);
    padding: 0rem;
    font-size: 1rem;
}

.search-filter .input-container{
    margin-bottom: 1.2rem;
}

.search-filter .input-container i{
    left: 15px !important;
    right: auto !important;
}

.search-filter ul{
    position: relative;
    z-index: 0;
}

.search-filter ul li{
    padding: 0;
}
.search-filter fieldset:nth-child(2),
.search-filter fieldset:nth-child(5),
.search-filter fieldset:nth-child(6)
{
    position: relative;
    z-index: 0;
    margin-bottom: 1rem !important;
    font-weight: 500;
}

.search-filter .range-options{
    padding: .4rem 0rem;
    font-weight: 500;
}

.search-filter .range-options select{
    font-weight: normal;
}

.more-options{
    max-height: 600px;
    overflow: hidden;
    overflow-y: scroll;
}



.more-options .static-option h3{
    margin-bottom: 1.5rem !important;
}

.more-options fieldset{
    margin-bottom: 1.5rem !important;

}
