/* =========================================================== */
/* SEARCH FILTER */
/* =========================================================== */

.more-filter{
    position: relative;
    padding-right: 1.5rem;
    
}

.search-filter{
    box-shadow: none !important;
    padding: 0rem 1.1rem;
    width: 400px;
}

.search-filter label{
    display: block;
    margin-bottom: .7rem;
    font-weight: 600;
}

.search-filter h3{
    position: relative;
    background: white;
    color: var(--dark-color);
    padding: 0rem;
    font-size: 1rem;
}

.search-filter .input-container i{
    left: 15px !important;
    right: auto !important;
}

.search-filter ul{
    position: relative;
    z-index: 0;
}

.search-filter ul li{
    padding: 0;
}

.search-filter fieldset:nth-child(1){
  margin: 2rem 0rem;
}


.search-filter fieldset:nth-child(2),
.search-filter fieldset:nth-child(5),
.search-filter fieldset:nth-child(6)
{
    position: relative;
    z-index: 0;
    /* margin-bottom: 1rem !important; */
    font-weight: 500;
}

.search-filter .options{
   margin-bottom: 2.5rem;
}

.search-filter .options:nth-last-child(2){
    margin-bottom: 1rem;
}

.search-filter .options:nth-last-child(1){
    margin-bottom: 0rem;
}

.search-filter .options h3{
    margin-bottom: 1.5rem;    
}

.search-filter .range-options{
    padding: .4rem 0rem;
    font-weight: 500;
}

.search-filter .range-options select{
    font-weight: normal;
}

.search-filter .option-range{
    padding: 0 !important;
    margin: 1.6rem 0rem 1rem 0rem;
    width: 100%;
}

.search-filter .option-range li h3{
    font-weight: 500;
    font-size: .9rem;
    margin-bottom: 0rem;
}

.multy_choice_columns ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
}

.multy_choice_columns ul li:hover{
   background: inherit;
}