
.property-card{
    max-width: 350px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #d6dde4;
    cursor: pointer;
}



.property-card figure{
    position: relative;
    width: 100%;
    height: 200px;
    max-height: 232px;
    overflow: hidden;
    
}

.property-card .prop-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: .5rem;
    padding: 1rem;
    /* font-size: .9rem; */
}

.property-card .prop-info span{
    color: var(--alt-text-color);
    font-weight: 500;
}

.property-card .prop-price{
    font-weight: 600;
    font-size: 1.2rem;
    position: relative;
    grid-column: 1 / 3;
    align-self: center;
}

.property-card .prop-info i{
    grid-column: 3;
    align-self: center;
    justify-self: flex-end;
    font-size: 1.4rem;
    padding: .4rem;
    border-radius: 50%;
    transition: all .2s;

}

.property-card .prop-info i:hover{
    background: #dbedf5e8;
}

.property-card .prop-address{
    position: relative;
    grid-column: 1 / 4;
    font-weight: 500;
    line-height: 1.5;
}



.property-card img{
    position: absolute;
    width: auto;
    width: 100%;
}

.property-card .status-style{
    position: absolute;
    top: 10px;
    left: 10px;
}

.status-style{
    border-radius: 100px;
    color: white;
    padding: .3rem .6rem;
    font-weight: 700;
    font-size: .6rem;
    width: max-content;
    text-transform: uppercase;
}
.like-prop{
    color: var(--main-color);
}
.status-for-sale{
    background: green;
}

.status-for-rent{
    background: blue;
}

.status-sold{
    background: red;
}

.status-ready-to-build{
    background: orange;
}

.status-off-market{
    background: purple;
}

.status-new-community{
    background: lightblue;
}