
.quick-search{
    background: white;
    width: max-content;
    border-radius: var(--borderRadius);
    display: flex;
    padding: 1rem;
    align-items: flex-end;
    gap: 1rem;
    box-shadow: 5px 10px 20px -13px #a5c9da;
    margin-top: 2rem;
}

.quick-search ul{
    display: flex;
    gap: 1rem;
  
}

.quick-search ul li h3{
    margin-bottom: .5rem;
font-weight: 600;
color: var(--alt-text-color);
font-size: .9rem;
}

.quick-search ul li .input-container{
    position: relative;
}

.quick-search ul li .input-container i{
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quick-search ul li input{
    border: none;
    background: var(--alt-silver);
    padding: .7rem .88rem;
    width: 100%;
    border-radius: var(--borderRadius);
}

.quick-search ul li:nth-child(2){
    max-width: 150px;
}

.quick-search ul li:nth-child(3){
    max-width: 190px;
}

.q-dropdown{
    background: white;
    position: absolute;
    left: 0;
    top: 120%;
    border-radius: var(--borderRadius);
    box-shadow: 0px -2px 50px -20px #8e9da496;
    border: 1px solid var(--light-silver);
   z-index: 2;
   max-width: 350px;
}

.q-dropdown h3{
    padding: .5rem 1.5rem;
    background: #f5f7f9;
    font-size: .7rem !important;
    color: var(--alt-text-color);
}

.q-dropdown .btn-container{
    padding: .5rem 1.5rem;
}

.q-dropdown button{
    width: 100%;
}

.q-dropdown ul{

    flex-flow: column;
    gap: 0rem;

}

.q-dropdown ul li{
    padding: .5rem 1.5rem;
    cursor: pointer;
    font-size: .9rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    max-width: 100% !important;
    transition: background .2s;
}

.q-dropdown ul li:hover{
    background: var(--alt-silver);
}

.q-dropdown ul li i{
    position: relative !important;
    margin-left: 0rem !important;
    margin-right: .5rem !important;
    color: var(--alt-text-color);
    right: 0px !important;
}

.range-option{
    display: flex;
    width: max-content;
    padding: .5rem 1.5rem;
    gap: 1rem;
    max-width: 100%;
}

.range-option h3{
    background: white !important;
    padding: 0rem;
}

.range-option .input-container input{
    width: 100%;
    border: 1px solid var(--light-silver);
    background: white;
    cursor: pointer;

}

.q-dropdown.range-dropdown{
    overflow: visible !important;
}

.q-dropdown .price-list{
    width: 100%;
    max-height: 300px;
    overflow:visible;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow-y: scroll;
}