.similar-listings{
    width: 80%;
    margin: auto;
    margin-bottom: 5rem;
    max-width: 1216px;
}

.similar-listings h2{
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 0rem;
    border-top: 1px solid var(--light-silver);
    padding-top: 1rem;
    margin-top: 3rem;
}

.similar-listings .listing-container{
    display: flex;
    gap: 1rem;
}

.similar-listings .slider-block{
    width: 300px;
}

