.schedule{
    position: sticky;
height: max-content;
top: 100px;
max-width: 300px;
}

.schedule_title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.schedule_title span{
  color: var(--alt-text-color);
  font-weight: 500;
  font-size: 1rem;
  display: block;
  margin-top: .5rem;
}
.schedule-tour .slider-btn-right{
    right: -22px
}

.schedule-tour .slider-btn-left{
    left: -22px
}


.tour_type{
    display: flex;
    column-gap: 1rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.tour_type li{
width: 100%;
padding: 1rem;
border: 1px solid var(--borderColor);
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
gap: .5rem;

}

.tour_type li i{
    color: var(--alt-text-color);
}




.select_time {width: 100%;
height: 50px;
background: white;
border: 1px solid var(--borderColor);
border-radius: 10px;
padding: 0rem 1rem;
cursor: pointer;
margin-top: 1rem;
margin-bottom: 1rem;
}

.schedule-time{
    display: flex;
    flex-flow: column;
    gap: .1rem;
    text-align: center;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    padding: .6rem 1rem;
    cursor: pointer;
    transition: background .2s;
}

.schedule-time h2{
    font-size: 1.3rem;
    margin: 0;
}

.schedule-time h3{
    font-weight: 600;
    font-size: .8rem;
}

.schedule-time:hover{
    background: #3d98c421;
}

.active-time{
    background: #3d98c421 !important;
    border: none !important;
    border: 1px solid var(--secondary-color) !important;
}

.schedule-tour .slider-btn-right{
    right: -22px
}

.schedule-tour .slider-btn-left{
    left: -22px
}

.ask_question_form{
    min-width: 100%;
}

.ask_question_form textarea{
    border-radius: var(--borderRadius);
    border: 1px solid var(--borderColor);
    width: 100%;
    height: 80px;
    padding: .5rem;
    margin-top: 1rem;

}
