

  .slider-block {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 23px 0px #497c8836;
    cursor: pointer;
    position: relative;
  }

  .slider-block figure {
    position: relative;
    overflow: hidden;
    height: 200px;
  }

  .slider-block figure img{
    width: 100%;
    position: absolute;
    min-height: 200px;
  }

  .slider-block figure span {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: .1rem .6rem;
    font-size: .7rem;
    background-color: var(--text-color);
    color: white;
    font-weight: bold;
    border-radius: 100px;
    text-transform: uppercase;
  }

  .slider-block .av-property-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    padding: 1rem;
  }

  .slider-block .av-property-details h4 {
    grid-column: 1 / 3;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 500;
    align-self: center;
  }

  .slider-block .av-property-details i {
    grid-column: 3 / 4;
    align-self: center;
    font-size: 1.3rem;
    justify-self: flex-end;
    margin-bottom: 1rem;
  }

  .slider-block .av-property-details h5 {
    text-align: left;
    font-weight: normal;
    color: var(--text-color-light);
  }

  .slider-block .av-property-details h5 span:nth-child(1){
    color: var(--text-color-light);
    font-weight: 500;
    font-size: .9rem;
  }

  .slider-block .av-property-details h5 span:nth-child(2){
    font-size: .9rem;
  }

  

  .slider-block .av-property-details p {
    text-align: left;
    grid-column: 1 / 4;
    margin: 0;
      margin-top: 0px;
    margin-top: .4rem;
    font-size: .9rem;
    line-height: 1.7;
  }
