.flex_nav {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr max-content max-content;
    gap: 3rem;
}

.top_nav {
	padding: 1.2rem 0rem;
	border-bottom: 1px solid var(--light-silver);
	position: sticky;
	top: 0;
	background: white;
	z-index: 5;
}

.top_nav ul{
    display: flex;
    gap: 2rem;
}

.top_nav ul li{
    font-size: .9rem;
font-weight: 400;
cursor: pointer;
}

.top_nav figure h2{
    font-size: 1.3rem;
}

.top_nav i{
    font-size: 1.3rem;
}

.menu-color div{
    background-color: var(--text-color) !important;
}

