


@media (max-width: 1010px){
    .prop_info_container .agent_info{
        display: none;
    }

    .prop_info_container{
        grid-template-columns: 1fr;
    }

    .prop_info_header .mini-map{
        width: 113px;
height: 113px;
    }

    .prop_header_details p{
       font-size: .9rem;
    }

    .prop_header_details h2{
        font-size: .9rem;
        margin: 0rem;
     }

     .prop_header_details h3{
        font-size: 1.2rem;
     }

     .prop_header_details h3 span{
        font-size: .9rem;
     }

     .prop_header_details h4{
        font-size: .9rem;
     }

     .prop_info_list li:nth-last-child(1){
        display: none;
     }

     .prop_info_list li:nth-last-child(2){
        display: none;
     }
}

@media (max-width: 850px){

    .prop_photos{
        height: 350px;
    }

}