.filter-container{
    position: sticky;
    z-index: 4;
    top: 64px;
    background: white;
    border-bottom: 1px solid var(--light-silver);
}

.filter{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0rem;
    
}

.filter .more-filter{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}
