.filter{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0rem;
    position: sticky;
    z-index: 4;
    top: 64px;
    background: white;
}

.filter .more-filter{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}
