.quick-search {
    position: absolute;
    bottom: -119px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 1658px;
    background: white;
    padding: 2rem 2.6rem;
    border-radius: var(--border-radius-v2);
    z-index: 3;
  }

  .main-shadow {
    box-shadow: var(--shadow);
  }

  .quick-search form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr .3fr;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
  }

  .quick-search form fieldset:nth-child(1) {
    grid-column: 1 / 7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1421491f;
    padding-bottom: 1rem;
    flex-flow: row;
  }

  .quick-search form fieldset:nth-child(1) h3{
    font-size: 1.5rem;
    font-weight: 500;
  }

  .quick-search form fieldset:nth-child(1) ul{
    display: flex;
    gap: 2rem;
  }


    .quick-search form fieldset:nth-child(1) ul li {
      text-transform: uppercase;
      font-size: .76rem;
      font-weight: 400;
      cursor: pointer;
      color: var(--text-color-light);
    }
  

  .q-active {
	color: var(--main-color) !important;
	border-bottom: 2px solid var(--main-color);
}

  .quick-search form fieldset {
    position: relative;
  }

  .quick-search form fieldset {
    margin: 0;
  }

  .quick-search form fieldset label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: .4rem;
    font-weight: 500;
  }

  .quick-search form fieldset input {
	background: transparent;
	/* border-bottom: 1px solid silver; */
	padding: 1rem 0rem;
    border: none;
    cursor: pointer;
}

.quick-search form fieldset i {
	position: absolute;
	right: 20px;
  margin-right: 0;
  margin-bottom: 0;
	bottom: 22px;
  width: max-content;
  height: max-content;
  top: auto;
}

.quick-search form fieldset .home-type i{
    bottom: 0;
}

.quick-search form fieldset .price-options i{
  top: 14px;
}

.quick-search .show-prices{
  top: 90px;
}


  .quick-search form button {
    width: 50px;
    height: 50px;
    justify-self: center;
    margin: 0;
    box-shadow: var(--shadow-btn);
  }


@media (max-width: 850px) {
            .quick-search {
            top: 84%;
            bottom: auto;
            z-index: 3;
            padding: 2rem 1.8rem;
            width: 100%;
        }

        .featured-property {
          padding-top: 36rem !important;
        }

        .quick-search form {
            grid-template-columns: 1fr;
        }

        .quick-search form fieldset:nth-child(1) {
            grid-column: 1;
            flex-flow: column;
        }

        .quick-search form fieldset:nth-child(1) h3{
            margin-bottom: 2rem;
          }

          .quick-search form fieldset:nth-child(1) ul{
             width: 100%;
            justify-content: space-between !important;
            gap: 1rem;
          }

          .q-beds{
            display: none;
          }
  
          .q-baths{
            display: none;
          }
}
  

@media (max-width: 567px) {

  .type-list li:nth-child(6), .type-list li:nth-child(5){
     display: none;
  }

  

  
}