.button{
    border-radius: 10px;
    border: none;
    font-weight: bold;
    padding: .7rem .88rem;
    cursor: pointer;
    transition: .5s;
}

.main-btn{
    background-color: var(--main-color);
    color: white;
}

.main-btn:hover{
    background: rgb(230, 0, 84);
}


.secondary-btn{
    background-color: var(--dark-color);
    color: white;
}

.secondary-btn:hover{
    background-color: #181f38bf;
}