.button{
    border-radius: 100px;
    border: none;
    font-weight: bold;
    padding: .7rem .88rem;
    cursor: pointer;
    transition: .5s;
    text-transform: uppercase;
}

.main-btn{
    background-color: var(--main-color);
    color: white;
}

.main-btn:hover{
    background: rgba(255, 9, 99, 0.815);
}


.secondary-btn{
    background-color: var(--dark-color);
    color: white;
}

.secondary-btn:hover{
    background-color: #181f38bf;
}