.prop_info_container{

    display: grid;
    grid-template-columns: 1fr .4fr;
    column-gap: 3rem;
    margin: 3rem 0rem;

}


.prop_info h2{
    margin-bottom: 1rem;

    font-weight: 600;
}

.prop_info h3{
    margin-bottom: .5rem;
}

.prop_info_header{
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}

.prop_info_header figure{
    background: var(--light-silver);
    border-radius: 10px;
}

.prop_info_header .mini-map{
    width: 250px;
    height: 170px;
    overflow: hidden;
}

.prop_info_header .mini-map img{
    width: 100%;
}

.prop_header_details{
    display: flex;
    flex-flow: column;
    gap: .6rem;
}

.prop_header_details h2{
    padding: 0;
    margin: 0;
    background: white;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.prop_status{
    display: flex;
    gap: .6rem;
    color: var(--alt-text-color);
    margin-bottom: .7rem;
}

.prop_status::before{
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background: green;
    position: relative;
    border-radius: 5px;
}


.prop_header_details h3{
    margin: 0;
    font-size: 2rem;
}

.prop_header_details h3 span{
    color: var(--secondary-color);
    font-size: 1rem;
}

.prop_header_details h4{
    margin: 0;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--alt-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}

.prop_header_details h4 span{
    font-weight: 800;
    color: var(--dark-text-color);
}


.prop_info_list{
    display: flex;
    flex-wrap: wrap;
    margin-top: .6rem;
}

.prop_info_list i{
    color: var(--alt-text-color);
    background: var(--light-color) !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    margin-right: .4rem;
}

.prop_info_list li{
    display: flex;
    text-align: center;
    padding: 0rem 1rem;
      padding-left: 1rem;
    border-right: 1px dotted #082b59;
    justify-content: center;
    align-content: center;
}

.prop_info_list li:nth-child(1){
    padding-left: 0;
}

.prop_info_list li:nth-last-child(1){
    padding-right: 0;
    border-right: none;
}



.prop_info_list h3{
    font-weight: 500;
}

.prop_info_list p{
    font-weight: 600;
    
}

.status-container{
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
}
.prop_details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 3rem;
}

.status-type{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: .6rem 1rem;
    font-size: .8rem;
    border-radius: 100px;
}

.prop_details .expand-btn{
    padding: 0rem 1rem;
}
.button_container{
    display: flex;
    gap: 1.5rem;
}
.offer_button{
    margin-top: 1.3rem;
    /* height: 50px; */
    max-width: 150px;
}

