.search-result{
    display: grid;
    grid-template-columns: 1fr max-content;
}

.search-result .avalon{
    grid-column: 1 / 3;
}


@media (max-width: 1257px) {


    .show-properties{
        grid-template-columns: 1fr !important;
        max-width: 400px !important

    }

    .show-properties-header{
        columns: 1;
    }
    
}

@media (max-width: 700px) {


    .search-result{
        grid-template-columns: 1fr;
        column-gap: 0;
    }
    .show-properties{
        grid-template-columns: 1fr 1fr !important;
         max-width: 100% !important;
    }

    .the-map{
        display: none;
    }
    
}

@media (max-width: 561px) {


    .search-result{
        grid-template-columns: 1fr;
        column-gap: 0;
    }
    .show-properties{
        grid-template-columns: 1fr !important;
        justify-self: center;
        max-width: 350px !important;

    }

    .the-map{
        display: none;
    }
    
}