.top-nav{
    position: sticky;
    top: 0;
    z-index: 12;
    background: white;
    border-bottom: 1px solid var(--light-silver);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .9rem 0rem;
    min-height: 69.7px;

}