.nav-list li{
    padding: .5rem .6rem;
    font-weight: 500;
  }
  
  .nav-list li:hover{
      color : var(--main-color)
  }


.top-nav{

    top: 0;
    z-index: 12;
    background: white;
    border-bottom: 1px solid var(--light-silver);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .9rem 0rem;
    min-height: 69.7px;

}

.user-greeting{
    font-weight: 600;
}

.user-nav-likes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    padding: .5rem .5rem;
    font-size: .9rem;
    border: none;
    border-radius: 10px;
    background: #92a6bf17;
    cursor: pointer;
    width: max-content;
    border: 1px solid var(--light-silver);
    position: relative;
}

.user-nav-bell{

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-silver);
    position: relative;
    border-radius: 10px;
    background: #92a6bf17;
    width: max-content;
    font-size: 1rem;

}

.like_count{
    position: absolute;
    background: var(--main-color);;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: white;
    right: -8px;
    top: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    font-weight: 600;

}

.user-nav-likes p{
    color: var(--dark-text-color);
    font-weight: 400;
}



.user-nav-account{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: .5rem .5rem;
    border: none;
    font-size: 1rem;
    width: 40px;
    height: 40px;
    background: white;
    background: var(--main-color);
    color: white;
    cursor: pointer;
}

.user-nav-account i{
    color: white;
}