:root{
    --main-color: rgb(255, 9, 101);
    --dark-color : #212c51;
    --light-color: #add8e64a;
    --dark-text-color : #081b4b;
    --light-text-color : #232d47;
    --alt-text-color : #586b84;
    --paragraph-text-color : #2b3857;
}