
/* 
=================================================
Container
=================================================
*/

.wide-container{
    width: 100%;
    margin: auto;
    max-width: 1800px;
}
.container{
    width: 90%;
    margin: auto;
    max-width: 1500px;
}

.container-medium{
    width: 80%;
    margin: auto;
    max-width: 1500px;
}

@media (max-width: 700px){

    
.container-medium{
    width: 90%;
}

}
/* 
=================================================
TAGS
=================================================
*/

*{

    color: var(--dark-text-color);
}

li{
    list-style: none;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    color: var(--alt-text-color);
    line-height: 1.5;
}

h1{
    color: var(--dark-text-color);
}

h3{
    font-weight: 600;
    color: var(--dark-text-color);
    font-size: 1rem;
}

h5{
    color: var(--alt-text-color);
font-weight: 500;
}

menu{
    width: 20px;
    height: 14px;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

menu div{
    width: 100%;
    height: 2px;
    background: var(--dark-color);
}

fieldset{
    border: none;
}


/* 
=================================================
text alignment
=================================================
*/
.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.show{
    display: inherit;
}

.hide{
    display: none;
}
/* 
=================================================
GAP
=================================================
*/
.gap-1x{
    gap: .6rem;
}

.gap-2x{
    gap: 1rem;
}

.gap-3x{
    gap: 2rem;
}
/* 
=================================================
WITH
=================================================
*/

.w-100{
    width: 100%;
}

.w-90{
    width: 90%;
}

@media (max-width: 700px){

    .w-90{
        width: 98%;
    }
}

/* 
=================================================
Content Position
=================================================
*/
.center-content{
    display: flex;
    justify-content: center;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-columns{
    display: flex;
    flex-flow: column;
}
/* 
=================================================
PADDING
=================================================
*/
.padding-top-bottom{
    padding: 1rem 0rem;
}

.padding-top-bottom-2x{
    padding: 3rem 0rem;
}

.no-padding{
    padding: 0rem;
}

.padding-top{
 padding-top: 1rem;
}

.padding-top-2x{
    padding-top: 2rem;
   }

   .padding-bottom{
    padding-bottom: 1rem;
}

.padding-bottom-2x{
    padding-bottom: 2rem;
}
/* 
=================================================
MARGIN 
=================================================
*/

.margin-top-1x{
    margin-top: 1rem;
}

.margin-top-2x{
    margin-top: 2rem;
}

/* 
=================================================
BACKGROUND
=================================================
*/

.light-bk{
    background: #add8e62e;
}