
.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.show{
    display: inherit;
}

.hide{
    display: none;
}

.container{
    width: 80%;
    margin: auto;
    max-width: 1500px;
}

.gap-1x{
    gap: .6rem;
}

.gap-2x{
    gap: 1rem;
}

.gap-3x{
    gap: 2rem;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.padding-top-bottom{
    padding: 1rem 0rem;
}