/* 
======================================================
Forms
======================================================
 */

 .forms{
    width: 500px;
    padding: 2rem !important;
}

.flex-form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}

.flex-form fieldset input{
    border-radius: 100px;
    padding: .5rem 1rem;
    padding-left: 2.5rem;
    outline: none;
}

.flex-form .flex-button{
    background: #9cbad93d;
    background: white;
    border: 1px solid #70879f;
    color: var(--text-color);
    margin: 0;
    font-weight: 400;
    width: max-content;
    font-size: .9rem;
}

.flex-form .price-options,
.flex-form .bed-options,
.flex-form .home-type,
.flex-form .search-type{
    position: absolute;
    width: 400px;
    top: 130%;
    left: 0;
    box-shadow: 0px 0px 20px #82bbcc54;
    padding: 1rem;
}

.flex-form .price-options i{
  /* bottom: 14px; */
}

.flex-form .home-type, .flex-form .search-type{
    grid-template-columns: 1fr;
    width: max-content;
    padding: 2rem;
}

.flex-form .home-type label, .flex-form .search-type label{
    grid-column: 1;
}

.flex-form .home-type ul, .flex-form .search-type ul{
    grid-template-columns: 1fr;
}

.flex-form .home-type ul li, .flex-form .search-type ul li{
    padding-left: 0rem;
}

.flex-form .bed-options{
    max-width: max-content;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.flex-form .bed-options label{
    grid-column: 1;
    margin-bottom: 0 !important;
}

.flex-form .show-prices{
    display: grid !important;
    background: white;
    border-radius: 10px;
}

.home-type i{
  position: relative !important;
}

.show-prices label{
  margin-bottom: 1rem !important;
  font-weight: 500 !important;
}

.flex-form .hide-prices{
    display: none !important;
}

.flex-form .select-status,
.flex-form .property-list-type{
   display: none;
}

.column-form {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
}

.column-form h2{
    font-size: 1.5rem;
}

.column-form fieldset i,
.flex-form fieldset i{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-form .flex-button{
    display: none;
}

form label{
    font-weight: 600;
    margin-bottom: .4rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

form fieldset{
    position: relative;
    border: none;
    display: flex;
    flex-flow: column;

}

form fieldset input{
    border: none;
  background: white;
  border: 1px solid #70879f;
  width: 100%;;
  width: 100%;
  border-radius: 100px;
  padding: .5rem 1rem;
  padding-left: 2.5rem;
  outline: none;
}


form fieldset .error{
    margin-top: .8rem;
    position: absolute;
    top: -30px;
}

.forms form{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.forms form input::placeholder{
    color:  var(--text-color-light);
    opacity: .7;
}

.forms form, .forms form .form-input-field{
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.forms form .form-input-field{
    margin: 1rem 0rem;
}

.forms form button{
    padding: 1rem 0rem;
}

.form-container{
  padding: 0rem 1rem;
}

.form-container form{
  margin-top: 1rem;
}

.form-container .form-section{
  position: relative;
  display: flex;
  flex-flow: column;
  gap: .3rem;
  margin-bottom: 1.5rem;
}

.form-container .form-section label{
  font-weight: 400;
  color: var(--dark-text);
}

.form-container .form-section input{
  border: none;
  background: var(--light-silver);
  width: 100%;
  height: 55px;
}

.form-container .main-btn{
  margin-top: .5rem;
  padding: 1rem 0rem;
  font-size: 1rem;
}

.input-select{
  cursor: pointer;
  outline: none;
}

.form-edit-mode input{

}

.edit-form-delete-btn{
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  color: var(--dark-text);
  border-radius: 100px;
  padding: .5rem 1rem;
  justify-self: flex-end;
  width: max-content;
  display: flex;
  gap: .5rem;
}

.form-edit-mode{
  display: none;
}

.edit-form-header{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-flow: column;
  align-items: center;
  padding: 2rem 0rem;
  row-gap: 1rem;
  border-bottom: 1px solid var(--light-silver);
}

.edit-form-header .bk{
  position: absolute;
  width: 100%;
  height: 140px;
  top: 0;
  left: 0;
  z-index: -1;
}


.edit-form-header figure {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  grid-column: 1 / 4;
}

.edit-form-header figure span{
  font-weight: 500;
  font-size: 1.5rem;
}

.edit-form-header h2{
  font-weight: 400;
  grid-column: 1 / 4;
  margin: 0;
  justify-self: center;
  font-size: 1.5rem;
  margin-top: 1rem;

}

.edit-form-header p{
  /* background: var(--light-blue);
  padding: 1rem;
  border-radius: 5px; */
}

.edit-form-header .d-date{
  grid-column:  1 /4;
  grid-row: 4;
  justify-self: flex-start;
}

.edit-form-header .d-remainder{
  grid-column: 1 /4;
  grid-row: 5;
  justify-self: flex-start;
}

.edit-form-header .d-amount{
  font-weight: 600;
  color: var(--text-color-dark);
  font-size: 3rem;
  grid-column: 2;
  grid-row: 3 ;
  justify-self: center;
  margin-bottom: 1rem;
}
.info-header{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  color: var(--dark-text);
  /* border-bottom: 1px solid var(--light-silver); */
  padding-bottom: 1rem;
  align-items: center;
}

.form-edit-btn{
  background-color: var(--light-blue);
  color: var(--dark-text);
  border-radius: 100px;
  padding: .5rem 1rem;
  justify-self: flex-end;
  width: max-content;
  display: flex;
  gap: .5rem;
}

.form-delete-btn{
  background-color: var(--light-blue);
  color: var(--dark-text);
  border-radius: 100px;
  padding: .5rem 1rem;
  justify-self: flex-end;
  width: max-content;
  display: flex;
  gap: .5rem;
}

.edit-forms{
  display: grid;
}

.amount-input{
  position: relative;
}

.amount-input input{
  padding-left: 1.4rem;
}

.amount-input span{
  position: absolute;
    bottom: 24%;
    left: 2.6%;
    font-weight: 400;
    font-size: .9rem;
}


